.botones {
    display: flex;
    flex-direction: row-reverse;
}

.seguir {
    background-color: #94dce4;
    border: 1px solid #94dce4;
    justify-content: right;
    margin-right: 1em;
}

.mensaje {
    background-color: #ec6464;
    border: 1px solid #ec6464;
}

@media (max-width: $min-md) {

    .botones {
      display: none;
    }
}