/* .footer {

    @include xsmall-device {
        border: 1px solid red;
        p {
            color: red;
        }
    }

    @include small-device {
        border: 1px solid black;
    }

    @include medium-device {
        border: 1px solid blue;
    }

    @include large-device {
        border: 1px solid rosybrown;
    }

    @include xlarge-device {
        border: 1px solid coral;
    }

    @include xxlarge-device {
        border: 1px solid green;
    }
} */