.video {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1em;
    margin-left: 1em;
}

.hero__video-list {
    width: 80%;
    float: left;
    margin: 0 auto;
}

.hero_video {
    display: flex;
    justify-content: center;
}

.video_img {
    width: 100%;
}

.video__title {
   h3 {
       font-size: $medium;
       margin-bottom: 0;
       padding-top: .5em;
   }
}

.video__body {
    p {
        font-size: $small;
        color: $gray;
    }
}


@include medium-device {

    .videos {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: left;
        padding-left: 2em;
        padding-right: 2em;
    }

    .video__horizontal{
        width: 100%;  
        margin-top: 0;  
    }
}