.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collapse {
    flex-direction: row-reverse;
    padding-right: 3em;
}

.navbar-brand {

    font-size: 3rem;
    font-weight: bold;
}

.navbar-toggler {
    border:transparent;
    color: black
}

.navbar-toggler-icon {
    color: black
}



/* .navbar-light .navbar-toggler {

  }
 */

/* .navbar-brand {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
} */

/* .art {
    margin-left: 9em;
    padding-bottom: 1em;
    position: relative;
}
*/

.fas, .far{
    color: black;
} 